<section class="login-wrapper">
  <div class="card border border-primary shadow-lg rounded-4 login-card">
    <div class="card-body p-4 p-md-5">
      <div class="text-center">
        <!-- Logo -->
        <img href
        ="/assets/images/login.jpg" alt="Logo" class="logo mb-4" />
      </div>
      <h3 class="mb-3 text-center">Iniciar Sesión</h3>

      <form (ngSubmit)="onSubmit()" class="mt-4">
        <!-- Cédula -->
        <div class="mb-3 form-floating">
          <input
            type="text"
            class="form-control"
            id="cedula"
            [(ngModel)]="cedula"
            name="cedula"
            placeholder="Cédula"
            required
          />
          <label for="cedula">Cédula</label>
        </div>

        <!-- Contraseña con icono -->
        <div class="mb-3 position-relative form-floating">
          <input
            [type]="showPassword ? 'text' : 'password'"
            class="form-control"
            id="contrasena"
            [(ngModel)]="contrasena"
            name="contrasena"
            placeholder="Contraseña"
            required
          />
          <label for="contrasena">Contraseña</label>
          <button
            type="button"
            class="toggle-password"
            (click)="togglePasswordVisibility()"
          >
            <i
              class="bi"
              [ngClass]="showPassword ? 'bi-eye-slash' : 'bi-eye'"
            ></i>
          </button>
        </div>

        <!-- Recordarme -->
        <div class="form-check mb-3">
          <input type="checkbox" class="form-check-input" id="remember" />
          <label class="form-check-label" for="remember">Recordarme</label>
        </div>

        <!-- Botón -->
        <div class="d-grid">
          <button class="btn btn-primary btn-lg" type="submit">
            Iniciar Sesión
          </button>
        </div>
      </form>

      <!-- Registro -->
      <div class="mt-3 text-center">
        ¿No tienes cuenta?
        <a [routerLink]="['/registro']" class="text-decoration-none fw-bold text-primary">
          Registrarse gratis
        </a>
      </div>
    </div>
  </div>
</section>
